<% layout('layouts/style') %>
<div class="row">
    <div class="col-6 offset-3">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">OHH NOO ERROR..!!</h4>
            <p><%= er.stack %> </p>
          </div> 
    </div>
</div>

